<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Delete a reservation</h4>
        <div class="row">
            <div class="col-md-4">
                    <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Code">
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                    <button type="submit" class="btn btn-outline-secondary btn-block" >Delete</button>
              
            </div>
            
      </div>
    </div>
  </div>

  
</div>